.tab-control {
  display: flex;
  align-items: center;
  height: 40px;
  text-align: center;
}

.tab-control .item {
  flex: 1;
}

/* color属性无法继承给button元素，同样的input textarea也不行，所以加一个* */
.tab-control .item.active * {
  color: red;
}
